[submodule "bazelbuild_examples"]
	path = bazelbuild_examples
	url = git@github.com:cool21540125/bazelbuild_examples.git
[submodule "codelabs"]
	path = codelabs
	url = git@github.com:cool21540125/codelabs.git
[submodule "yt_bazel_tutorial/projects/project8"]
	path = yt_bazel_tutorial/projects/project8
	url = git@github.com:cool21540125/lab-bazel-mystery.git
