[submodule "bazelbuild_examples"]
	path = bazelbuild_examples
	url = git@github.com:cool21540125/bazelbuild_examples.git
[submodule "codelabs"]
	path = codelabs
	url = git@github.com:cool21540125/codelabs.git
[submodule "lab-bazel-mystery"]
	path = lab-bazel-mystery
	url = git@github.com:cool21540125/lab-bazel-mystery.git
